 a:hover{
        color: white;
        background-color: green;
        cursor: pointer;
    }
       body{
       
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            background-color: rgb(218, 212, 132);
            border-radius: 25px;
            padding: 5px;
        }
        html {
            background-image: linear-gradient(to top, wheat, white);
            height: 100%;
        }
  p{
    text-indent: 25px;
    text-align: center;
    margin: 10px
  }
a{
    background-color: darkgreen;
    border-radius: 25px;
    padding: 5px;
}
h1,h2 {
text-align: center;
}